.card{
    display: flex;
    align-items: center;
    height: 44vh;
    width: 160vh;
    margin-top: 35px;
    margin-bottom:4rem ;
    margin-left:12rem;
    background-color: rgb(25, 76, 227);
}

.c-left{
    width: 50%;
    max-width: calc(50% - 4px);
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

.c-right{
    margin-bottom: 80px;
    width: 35%;
    max-width: calc(80% - 4px); 
    box-sizing: border-box;

}

.c-header{
    font-weight: bold;
    font-size: 44px;
    color: aliceblue;
    /* font-size: xx-large;
    font-weight: bolder;
    color: whitesmoke; */
}

.c-l-top{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.c-span{
    margin-top: 10px;
    margin-right: 155px;
    font-size: 38px;
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.c-c1{
    margin-top: 10px;
    font-size: 16px;
    margin-right:15px;
    color: white;
}

.c-c2{
    margin-right: 142px;
    font-size: 16px;
    color:  white;
}

.c-l-top {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-n1, .c-n2, .c-n3, .c-n4 {
    margin-top: 25px;
    color: aliceblue;
    flex-basis: calc(50% - 29px); /* Adjust the width based on your preference */
    margin-bottom: 5px;
}
.c-cust{
    font-size: 16px;
}


.c-header,
.c-span,
.c-c1,
.c-c2{
    display: block;
}